/* Cart.css */

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5%;
  margin-right: 850px;
  position: relative;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 150px;
}

.cart-item {
  border: 1px solid #ddd;
  display: flex;
}

.cart-item img {
  max-width: 100%;
  height: auto;
}

.cart-item td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
  width: 220px;
  right: 1px;
  position: relative;
}

.cart-item h2 {
  font-size: 10px;
  margin-bottom: 5px;
}

.cart-item p {
  margin: 0;
  margin-right: 10%;
}

.remove-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #e60000;
}

.Cart-text {
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
  color: #00ff00;
  font-size: 1.9rem;
  margin-left: 70%;
}

.quantity-decrease {
  width: 30px;
  height: 30px;
  text-align: center;
}

.quantity-increase {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}
