/* Products.css */
.container {
  text-align: center;
  margin-top: 10%;
}

.sort-container {
  margin-bottom: 20px;
  border-radius: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#sort {
  margin-left: 10px;
  border-radius: 50px;
  width: 250px;
  text-align: center;
  height: 30px;
  background-color: #333;
  color: aliceblue;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#sort:hover {
  background-color: #00ff00;
  color: black;
  opacity: 0.9;
  transition: 600ms;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.loading {
  font-size: 18px;
  color: gray;
}

.error {
  font-size: 18px;
  color: red;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  width: 250px;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.product-item img {
  width: 100%;
  height: auto;
}

.crud-options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.crud-options button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.crud-options button:hover {
  background-color: #3c79db;
}
